<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML  4.0 Transitional//EN">
<html>
<head>
    <meta charset="UTF-8">
    <title>宝宝玩英语</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Android</h1>
    <a class="name" href="{{ url_for('static', filename='') }}{{ launchName }}">正式地址</a>
    <span class="desc">({{ create_time }} {{ version }} {{ build }} {{ size }}M)</span>
    <br>
    <a class="name" href="{{ url_for('static', filename='') }}{{ testName }}">测试地址</a>
    <span class="desc">({{ create_time }} {{ version }} {{ build }} {{ size }}M)</span>
    <br>
    <a class="name" href="{{ url_for('static', filename='') }}{{ preName }}">预上线地址</a>
    <span class="desc">({{ create_time }} {{ version }} {{ build }} {{ size }}M)</span>
    <br>
</body>
</html>